.navbar{
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    position: fixed;
    width: 100%;
    border-radius: .5rem;
    color: black;
    font-family: "Lato";
    background-color: #FEF5EB;
    z-index: 10;
    box-shadow: 0px 2px 4px rgba(0,0,0,.2);
    transition: top 0.5s;
}

.navbar.hidden {
    top: -100px;
    transition: top 0.5s;
}

.navbar.visible {
    top: 0;
    transition: top 0.5s;
}

.nav-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link-item p{
    position: relative;
    color: rgb(98, 97, 97);
    font-size: .8rem;
    font-weight: 400;
    margin: 0rem 1rem;
    text-decoration: none;
    border-radius: .4rem;
    padding: .5rem 1.2rem;
    letter-spacing: 1.5px;
    transition: .3s all;
}
.nav-link-item p:hover{
    background-color: #fde7d0;
    color: #121212;
    transition: .3s all;
}

.nav-link-item.clicked p{
    background-color: #fdd9b2;
        color: #121212;
        transition: .3s all;
}
.nav-link p::after{
    opacity: 1;
    content: "";
    height:3px;
    border-radius: 2rem;
    left: 0;
    background-color: #f3af67;
    position: absolute;
    bottom: -5px;
    width: 0;
    pointer-events: none;
    transition: .3s linear;
}
.nav-link-item p:hover::after{
    width: 100%;
}

.location-button {
    font-weight: 500;
    color: black;
    letter-spacing: 1px;
    border: 1px solid black;
    padding: 7px 20px;
    font-size: 12px;
    margin-right: 2rem;
    position: relative;
    background-color: transparent;
    transition: 0.2s ease-in-out;
    visibility:initial;
}

.location-button span {
    z-index: 1;
}

.location-button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: rgb(240, 229, 229);
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.location-button:hover {
    color: #121212;
    cursor: pointer;
}

.location-button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

.nav-logo{
    height: 6rem;
    margin-left: 2rem;
    object-fit: contain;
    width: 6rem;
    cursor: pointer;
}

.pakshala-home-div{
    .text-home-bg{
        position: absolute;
        top: 40%;
        color: white;
        font-size: 2rem;
        left: 5%;

        h1{
            font-size: 2.2rem;
            letter-spacing: 3px;
            width: 80%;
            font-weight: 600;
        }
        p{
            font-size: 1rem;
            width: 60%;
            font-weight: 300;
            line-height: 2rem;
        }
        button{
            background-color: #f2b488;
            padding: 14px 30px;
            border-radius: .3rem;
            margin-top: 1rem;
            font-size: 1rem;
        }
    }
}
.pakshala-home{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.par-content {
    height: 100vh;
}

.custom-bg {
    height: 100vh;
    width: 100vw;
    object-fit: contain;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 2rem;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 768px) {
    .nav-link {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 4rem;
        left: 0;
        background-color: #FEF5EB;
        z-index: 9;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
    }

    .nav-link-item {
        margin: 1rem 0;
        text-align: center;
    }

    .nav-link.show {
        display: flex;
    }

    .hamburger {
        display: flex;
        position: absolute;
        right: 0;
    }

    .location-button {
       visibility: hidden;
    }
}
/* FooterCSS */

.footer{
    background-color: #c0c0c1;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    font-family: "Lato";
    position: relative;

    .footer-text{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    h2{
        font-size: 1.3rem;
        letter-spacing: 1.4px;
        margin-bottom: 1rem;
        font-family: "Inika";
        font-weight: 600;
    }
    p{
        font-size: 1rem;
            letter-spacing: 1.2px;
            margin-bottom: .5rem;
            font-family: "Lato";
            color: rgb(64, 63, 63);
            margin-left: .5rem;
            transition: all .3s ease-in-out;
            cursor: pointer;
    }
    p:hover{
        color: black;
        font-weight: 500;
        transform: scale(1.1);
        transition: all .3s ease-in-out;
    }
}

.footer-logo{
    height: 8rem;
    object-fit: contain;
    width: 9rem;
    margin-left: 1rem;
}

.find-Us,.footer-community,.our-services,.quick-links{
    margin-top: 3rem;
    margin-right: 5rem;
}

.social-icon {
    display: inline-block;
    margin-left: 1rem;
    margin-top: .5rem;
}

.social-icon a {
    width: 40px;
    color: black;
    height: 40px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 2rem;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.social-icon a::before {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    border: 2px solid black;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.footer-last{
    text-align: center;
    color: black;
    font-size: 1rem;
    font-family: "Lato";
    margin-top: 1rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 2rem;
    }

@media (max-width: 768px) {
    
}


/* Events */
.galleryImg {
    border-radius: 18px;
    display: block;
    height: auto;
    transition: .3s;
}

.galleryImg:hover {
    transform: scale(1.05);
}

.event-title::before {
    content: "";
    width: .3rem;
    height: 3.5rem;
    background-color: #f7c9a8;
    position: absolute;
    border-radius: 1rem;
    top: .3rem;
    left: -2rem;
}

.event-title {
    height: 4rem;
    color: #f7c9a8;
    margin-left: 2rem;
    font-size: 2.4rem;
    letter-spacing: 8px;
    font-family: "Inika";
    margin-bottom: 2rem;
    text-transform: uppercase;
    position: relative;
}

.event-button{
    background-color: #f7c9a8;
    margin-right: 4rem;
    color: white;
        padding: 12px 25px;
        border-radius: 6px;
        font-size: 1rem;
        letter-spacing: 1.2px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}