.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    position: fixed;
    width: 100%;
    border-radius: .5rem;
    color: black;
    font-family: "Lato";
    background-color: #FEF5EB;
    z-index: 10;
    border: 1px solid #ef8c1b;
}

.nav-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link-item{
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0rem 2rem;
    text-decoration: none;
    border-radius: .3rem;
    padding: .3rem 1rem;
    letter-spacing: 1.5px;
    color: black;
}
.nav-link-item:hover{
    transform: scale(1.02);
    transition: .5s all;
    background-color: #f0e0cc;
}


.location-button {
    font-weight: 500;
    color: black;
    letter-spacing: 1px;
    border: 1px solid black;
    padding: 12px 30px;
    font-size: 20px;
    margin-right: 2rem;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.location-button span {
    z-index: 1;
}

.location-button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: rgb(240, 229, 229);
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.location-button:hover {
    color: #121212;
    cursor: pointer;
}

.location-button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

.nav-logo{
    height: 10rem;
    object-fit: contain;
    width: 15rem;
}

.pakshala-home{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}


/* FooterCSS */

.footer{
    background-color: #c0c0c1;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    font-family: "Lato";
    position: absolute;

    .footer-text{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    h2{
        font-size: 1.5rem;
        letter-spacing: 1.4px;
        margin-bottom: 1rem;
        font-family: "Inika";
        font-weight: 600;
    }
    p{
        font-size: 1.2rem;
            letter-spacing: 1.2px;
            margin-bottom: .5rem;
            font-family: "Lato";
            color: rgb(64, 63, 63);
            margin-left: .5rem;
            transition: all .3s ease-in-out;
            cursor: pointer;
    }
    p:hover{
        color: black;
        font-weight: 500;
        transform: scale(1.1);
        transition: all .3s ease-in-out;
    }
}

.footer-logo{
    height: 17rem;
    object-fit: contain;
    width: 15rem;
    margin-left: 1rem;
}

.find-Us,.footer-community,.our-services,.quick-links{
    margin-top: 3rem;
    margin-right: 5rem;
}

.social-icon {
    display: inline-block;
    margin-left: 2rem;
    margin-top: 1rem;
}

.social-icon a {
    width: 50px;
    color: black;
    height: 50px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 2rem;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.social-icon a::before {
    content: "";
    width: 52px;
    height: 52px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    border: 2px solid black;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.footer-last{
    text-align: center;
    color: black;
    font-size: 1.8rem;
    margin-top: 4rem;
    font-weight: 700;
    }