.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    position: fixed;
    width: 100%;
    border-radius: .5rem;
    color: black;
    font-family: "Lato";
    background-color: #FEF5EB;
    z-index: 10;
    box-shadow: 0px 2px 4px rgba(0,0,0,.2);
}

.nav-link{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link-item p{
    position: relative;
    color: rgb(98, 97, 97);
    font-size: .8rem;
    font-weight: 400;
    margin: 0rem 1rem;
    text-decoration: none;
    border-radius: .4rem;
    padding: .5rem 1.2rem;
    letter-spacing: 1.5px;
    transition: .3s all;
}
.nav-link-item p:hover{
    background-color: #fde7d0;
    color: #121212;
    transition: .3s all;
}

.nav-link-item.clicked p{
    background-color: #fdd9b2;
        color: #121212;
        transition: .3s all;
}
.nav-link p::after{
    opacity: 1;
    content: "";
    height:3px;
    border-radius: 2rem;
    left: 0;
    background-color: #f3af67;
    position: absolute;
    bottom: -5px;
    width: 0;
    pointer-events: none;
    transition: .4s linear;
}
.nav-link-item p:hover::after{
    width: 100%;
}

.location-button {
    font-weight: 500;
    color: black;
    letter-spacing: 1px;
    border: 1px solid black;
    padding: 7px 20px;
    font-size: 12px;
    margin-right: 2rem;
    position: relative;
    background-color: transparent;
    transition: 0.3s ease-in-out;
}

.location-button span {
    z-index: 1;
}

.location-button::before {
    content: "";
    width: 0%;
    height: 100%;
    position: absolute;
    background-color: rgb(240, 229, 229);
    left: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.location-button:hover {
    color: #121212;
    cursor: pointer;
}

.location-button:hover::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

.nav-logo{
    height: 6rem;
    margin-left: 2rem;
    object-fit: contain;
    width: 6rem;
    cursor: pointer;
}

.pakshala-home{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.par-content {
    height: 100vh;
}

.custom-bg {
    height: 100vh;
    width: 100vw;
    object-fit: contain;
}
.dropdown {
    position: absolute;
    top:3.1rem;
    left: 38%;
    width: 8rem;
    cursor: pointer;
    padding: .3rem;
    background-color: #FEF5EB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 0.3rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 1000;
}

.dropdown.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.sub-menu {
    font-size: .8rem;
    font-family: "Lato";
    color: rgb(98, 97, 97);
    font-weight: 400;
    text-decoration: none;
    border-radius: 0.3rem;
    letter-spacing: 1.5px;
    transition: 0.3s all;
    padding: .3rem;

    li{
        padding: .4rem .6rem;
        border-radius: .2rem;
    }
}

.sub-menu li:hover{
    background-color: #fddfbe;
    color: #121212;
    transition: .3s all;
    transform: scale(1.08);
}

/* FooterCSS */

.footer{
    background-color: #c0c0c1;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
    font-family: "Lato";
    position: relative;

    .footer-text{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }

    h2{
        font-size: 1.3rem;
        letter-spacing: 1.4px;
        margin-bottom: 1rem;
        font-family: "Inika";
        font-weight: 600;
    }
    p{
        font-size: 1rem;
            letter-spacing: 1.2px;
            margin-bottom: .5rem;
            font-family: "Lato";
            color: rgb(64, 63, 63);
            margin-left: .5rem;
            transition: all .3s ease-in-out;
            cursor: pointer;
    }
    p:hover{
        color: black;
        font-weight: 500;
        transform: scale(1.1);
        transition: all .3s ease-in-out;
    }
}

.footer-logo{
    height: 8rem;
    object-fit: contain;
    width: 9rem;
    margin-left: 1rem;
}

.find-Us,.footer-community,.our-services,.quick-links{
    margin-top: 3rem;
    margin-right: 5rem;
}

.social-icon {
    display: inline-block;
    margin-left: 1rem;
    margin-top: .5rem;
}

.social-icon a {
    width: 40px;
    color: black;
    height: 40px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 2rem;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.social-icon a::before {
    content: "";
    width: 45px;
    height: 45px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
    border: 2px solid black;
}

.social-icon a:hover::before {
    transform: scale(1);
}

.social-icon a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.footer-last{
    text-align: center;
    color: black;
    font-size: 1rem;
    font-family: "Lato";
    margin-top: 1rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 2rem;
    }